{% extends 'base.html' %}



{% block content %}
    <h4><p style="color: rgb(4, 0, 255);">"{{chuck.value}}" - Chunk Norris</p></h4>

    {% if user.is_authenticated %}

    <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Wyślij"  style='background-color: green';/>
    </form>

    {% endif %}

    <h1><p style='color:rgb(0, 217, 255)'>Najnowsze posty:</p></h1>

    <br>
    {% for post in posts %}
        <div>
            <h2>{{post.title}}</h2>
            {{post.content}}<br><br>

            Autor: {{post.user}}<br>
            Data publikacji: {{post.date}}<hr>
        </div>
        
        
    {% endfor %}


{% endblock %}


